<div class="flex justify-center -mt-5 items-center space-x-3">
  @if(isInCart){
  <div
    class="bg-red flex justify-between items-center gap-8 rounded-full py-3 px-7"
  >
    <button (click)="decrement()">
      <app-icons iconType="remove-default"></app-icons>
    </button>

    <span class="text-sm text-white font-semibold">{{ quantity }}</span>

    <button (click)="increment()">
      <app-icons iconType="add-default"></app-icons>
    </button>
  </div>
  } @else {
  <button
    class="bg-white flex justify-center text-rose900 font-semibold text-sm items-center gap-2 rounded-full border border-rose400 py-3 px-7"
    (click)="addToCart()"
  >
    <app-icons iconType="cart"></app-icons>
    {{ buttonText }}
  </button>
  }
</div>
